<% layout('layouts/boilerplate')%>

<main id="main">
    <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Events</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li><a href="/events">Events</a></li>
              <li><%= event.title %></li>
            </ol>
          </div>
        </div>
    </section>
    <!-- ======= Event Details Section ======= -->
    <section class="event-details">
      <div class="container">

        <div class="event-details-container">
          <div class="event-detail-img"> 
            <img src="<%= event.image %>"  alt="<%= event.image %>">
            <div class="event-info">
              <h3>Event information</h3>
              <ul>
                <%  if(event.isOver){ %>
                  <li><strong>Held on <%= moment(event.onDate).format('LL') %></li>
                <% }else {%>  
                <li><strong>Date:</strong> <%= moment(event.onDate).format('LL') %></li>
                <li><strong>Time:</strong> <%= event.time %></li>
                <li><strong>Register Link:</strong><a href="<%= event.applyLink %>"> Click Here</a></li>
                <li><strong>Location:</strong> <%= event.location %></li>
                <% } %>
              </ul>
            </div>
          </div>  
        </div>

        <div class="event-description">
          <h2><%= event.title %></h2>
          <p><%= event.description %></p>
        </div>
        <div class="blog__details__tags">
          <% if(currentUser && currentUser.isAdmin){ %>
            <a href="/events/<%= event._id %>/edit">Edit</a>
          <% } %> 	
        </div>
      </div>
      
    </section><!-- End Event Details Section -->
</main>