<% layout('layouts/boilerplate')%>

  <main id="main">

    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Projects</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Projects</li>
          </ol>
        </div>
      </div>
    </section><!-- End Blog Section -->

    <section class="search-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                <form action="/posts" method="GET">
                  <input type="text" name="search" placeholder="Search">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div>
          </div>
      </div>
    </section>

    
    <div class="blog blog-page spad">
      <div class="container">
          <div class="row">
            <% posts.forEach(function(post){ %>
              <div class="col-md-6">
                  <div class="blog-item">
                      <div class="blog-img">
                          <img src="<%= post.image %>" alt="Blog">
                      </div>
                      <div class="blog-content">
                          <h2 class="blog-title"><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
                          <div class="blog-meta">
                              <i class="bx bx-user"></i>
                              <a href="/posts/<%= post._id %>"><%= post.name %></a>
                              <i class="bx bx-calendar"></i>
                              <p><%= moment(post.endDate).format('LL') %></p>
                          </div>
                          <div class="blog-text">
                              <p>
                                <%- post.descIntro %>...
                              </p>
                              <a class="btn" href="/posts/<%= post._id %>">Read More</a>
                          </div>
                      </div>
                  </div>
              </div>
            <% }) %> 
          </div>
          <div class="row">
            <div class="col-12">
              <% if (pages && pages > 0) { %>
                <ul class="pagination justify-content-center">
                    <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link"><i class="icofont-rounded-left"></i></a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/posts?page=<%= Number(current) - 1 %>"><i class="icofont-rounded-left"></i></a></li>
                    <% } %>
             
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/posts?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
             
                    <% if (current == pages) { %>
                    <li class="page-itemdisabled"><a class="page-link"><i class="icofont-rounded-right"></i></a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/posts?page=<%= Number(current) + 1 %>"><i class="icofont-rounded-right"></i></a></li>
                    <% } %>

                    <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/posts?page=<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
              <% } %>
            </div>
          </div>
      </div>
  </div>

          
             
