<%- include ("../partials/header") %>
<section id="post">
  <div class="container">
    <div class="section-title" data-aos="fade-up" style="margin-top: 10px">
      <h2>Projects</h2>
      <h3>These are the projects available atm.</h3>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% posts.forEach(function(post){ %>  
          <div class="well blog" data-aos="fade-right">  
              <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                      <div class="image">
                          <img src="<%= post.image %>" alt="">
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                      <div class="blog-details">
                        <h2><a href="/posts/<%= post._id %>" class="r-link link text-underlined"><%= post.title %></a></h2>
                        <dl class="row">
                          <dt class="col-sm-4">Author:</dt>
                          <dd class="col-sm-8"><%= post.name %></dd>
                          <dt class="col-sm-4">No. of student required:</dt>
                          <dd class="col-sm-8"><%= post.students %></dd>
                          <dt class="col-sm-4">Last Date to Apply:</dt>
                          <dd class="col-sm-8"><%= moment(post.endDate).format('LL') %></dd>
                          <dt class="col-sm-4">About:</dt>
                          <dd class="col-sm-8"><%- post.description.substring(0,100) %>...</dd>
                          <a class="btn btn-primary" href="/posts/<%= post._id %>">Read More</a>
                        </dl>
                      </div>
                  </div>
              </div>  
          </div>
        <% }) %>  
      </div>  
    </div>
</div>
<% if(currentUser && currentUser.isAdmin){ %>
  <div class="container ">
    <div class="justify-content-center" style="align-items: center;">
      <a class="btn btn-primary" href="/posts/new">Add</a>
    </div>
  </div>
<% } %> 
<nav aria-label="Page navigation">
    <% if (pages && pages > 0) { %>
    <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li><a class="page-link" href="/posts">First</a></li>
        <% } %>
 
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">«</a></li>
        <% } else { %>
        <li><a class="page-link" href="/posts?page=<%= Number(current) - 1 %>">«</a></li>
        <% } %>
 
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li><a class="page-link" href="/posts?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% } %>
 
        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">»</a></li>
        <% } else { %>
        <li><a class="page-link" href="/posts?page=<%= Number(current) + 1 %>">»</a></li>
        <% } %>
 
        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li><a class="page-link" href="/posts?page=<%= pages %>">Last</a></li>
        <% } %>
    </ul>
    <% } %>
</nav> 
  
<%- include ("../partials/footer") %>