<% layout('layouts/boilerplate')%>

  <main id="main">

    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Projects</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Projects</li>
          </ol>
        </div>
      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">
        <div class="row">

          <div class="col-lg-4">
            <div class="sidebar">
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="/posts" method="GET">
                  <input type="text" name="search">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div><!-- End sidebar search formn--> 
              <h5 class="sidebar-title">Have suggestion on events or projects? Contct Us Here</h5>
              <div class="sidebar-item tags">
                <ul>
                  <li><h2><a href="/#contact">Contact</a></h2></li>
                </ul>
              </div>
              <% if(currentUser && currentUser.isAdmin){ %>  
                <h3 class="sidebar-title">Admin Functionalities</h3>
                <div class="sidebar-item tags">
                  <ul>
                    <li><h2><a href="/posts/new">Add</a></h2></li>
                  </ul>
                </div>
              <% } %>  
            </div><!-- End sidebar -->
          </div><!-- End blog sidebar -->

          <div class="col-lg-8 entries">
          <% if(noMatch !== null) {%>
            <div class="col-md-12">
                  <%= noMatch %>
            </div>
          <% } %>
          <% posts.forEach(function(post){ %>  
            <article class="entry">
              <div class="entry-img">
                <img src="<%= post.image %>" alt="" class="img-fluid">
              </div>
              <h2 class="entry-title">
                <a href="/posts/<%= post._id %>"><%= post.title %></a>
              </h2>
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="/posts/<%= post._id %>"><%= post.name %></a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="/posts/<%= post._id %>"><%= moment(post.endDate).format('LL') %></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p><%- post.descIntro %>...</p>
                <div class="read-more">
                  <a href="/posts/<%= post._id %>">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          <% }) %>  
            <div class="blog-pagination">
              <% if (pages && pages > 0) { %>
                <ul class="justify-content-center">
                    <% if (current == 1) { %>
                    <li class="disabled"><a>First</a></li>
                    <% } else { %>
                    <li><a href="/posts">First</a></li>
                    <% } %>
             
                    <% if (current == 1) { %>
                    <li class="disabled"><a><i class="icofont-rounded-left"></i></a></li>
                    <% } else { %>
                    <li><a href="/posts?page=<%= Number(current) - 1 %>"><i class="icofont-rounded-left"></i></a></li>
                    <% } %>
             
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                    <li><a href="/posts?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% } %>
             
                    <% if (current == pages) { %>
                    <li class="disabled"><a><i class="icofont-rounded-right"></i></a></li>
                    <% } else { %>
                    <li><a href="/posts?page=<%= Number(current) + 1 %>"><i class="icofont-rounded-right"></i></a></li>
                    <% } %>

                    <% if (current == pages) { %>
                    <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                    <li><a href="/posts?page=<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
              <% } %>
            </div>
          </div><!-- End blog entries list -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </section><!-- End Blog Section -->
  </main><!-- End #main -->
<nav aria-label="Page navigation" class="blog-pagination">
    
</nav> 
  
