<% layout('layouts/boilerplate')%>
<main id="main">
  <section class="breadcrumbs">
	<div class="container">
	  <div class="d-flex justify-content-between align-items-center">
		<h2>Projects</h2>
		<ol>
		  <li><a href="/">Home</a></li>
		  <li><a href="/posts">Projects</a></li>
		  <li><%= post.title %></li>
		</ol>
	  </div>
	</div>
  </section>


<section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
	<div class="container">
	  <div class="row">

		<div class="col-lg-8 entries">
		  <article class="entry entry-single">
			<div class="entry-img">
			  <img src="<%= post.image %>" alt="" class="img-fluid">
			</div>

			<h2 class="entry-title">
			  <a href=""><%= post.title %></a>
			</h2>

			<div class="entry-meta">
			  <ul>
				<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href=""><%= post.name %></a></li>
				<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><%= moment(post.endDate).format('LL') %></a></li>
			  </ul>
			</div>

			<div class="entry-content">
			  <p><%= post.descIntro %> </p>
			  <h3>Main Requirements</h3>
			  <p>
				<ul>
					<li>Author: <%= post.name %> </li>
					<li>No. of postions: <%= post.students %></li>
					<li>Skills Required: <%= post.skills %></li>
					<li>Last Date to Apply: <%= moment(post.endDate).format('LL') %></li>
				</ul>
			  </p>

			  <h3>Something More About the project</h3>
			  <p>
				<%= post.desc %>
			  </p>
			</div>
		  </article><!-- End blog entry -->
		</div>
		<div class="col-lg-4">
            <div class="sidebar">
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div><!-- End sidebar search formn--> 
            <% if(currentUser && currentUser.isAdmin){ %>  
              <h3 class="sidebar-title">Admin Functionalities</h3>
              <div class="sidebar-item tags">
                <ul>
				  <li><h2><a href="/posts/new">Add</a></h2></li>
				  <li><h2><a href="/posts/<%= post._id %>/edit">Edit</a></h2></li>
                </ul>
              </div>
            <% } %>  
            </div><!-- End sidebar -->
          </div>
	  </div>
	</div>
</section>
</main>