<% layout('layouts/boilerplate')%>
<main id="main">
  <section class="breadcrumbs">
	<div class="container">
	  <div class="d-flex justify-content-between align-items-center">
		<h2>Projects</h2>
		<ol>
		  <li><a href="/">Home</a></li>
		  <li><a href="/posts">Projects</a></li>
		  <li><%= post.title %></li>
		</ol>
	  </div>
	</div>
  </section>


<div class="blog-details spad">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-8">
				<div class="section-title-smol">
					<h2><%= post.title %></h2>
				</div>
				<div class="d-flex justify-content-center">
					<img src="<%=post.image%>" alt="" class="img-fluid"> 
				</div>
				<div class="blog__details__content">
					<div class="blog__details__text">
						<p><%= post.descIntro %></p>
						<p><%= post.desc %></p>
					</div>
					<div class="blog__details__desc">
						<p>
							<ul style="list-style-type:circle">
								<li><strong class="bold">Author:</strong>  <%= post.name %> </li>
								<% if(post.profName){ %> 
									<li><strong class="bold">Professor's Name:</strong>  <%= post.profName %> </li>
								<% } %> 
								<li><strong class="bold">Project's Field:</strong>  <%= post.field %> </li>
								<% if(post.students){ %> 
									<li><strong class="bold">Number of postions:</strong>  <%= post.students %></li>
								<% } %>
								<% if(post.eligible){ %> 
									<li><strong class="bold">Eligibility:</strong>  <%= post.eligible %></li>
								<% } %>
								<% if(post.skills){ %> 
									<li><strong class="bold">Skills Required:</strong>  <%= post.skills %></li>
								<% } %>
								<li><strong class="bold">Team Members:</strong>  <%= post.members %></li>
								<% if(post.output){ %> 
									<li><strong class="bold">Result:</strong>  <%= post.output %></li>
								<% } %>
							</ul>
						  </p>
					</div>
					<div class="blog__details__tags">
						<% if(post.eligible){ %> 
							<a href="/posts/<%= post._id %>/apply">Apply</a>
						<% } %> 
						<% if(currentUser && currentUser.isAdmin){ %>
							<a href="/posts/<%= post._id %>/edit">Edit</a>
						<% } %> 	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</main>